* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #F78FB3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
}

h1 {
  font-size: 1.5rem;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  color: #303952;
}
p {
  font-size: 1rem;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-style: italic;
  color: #303952;
}